@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hi, @context.User.Identity.Name</h1>
        Let's check out <a href="army">your army</a>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome to Blazor Battles</h1>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>
